.button-root {
  border: none;
  background-color: var(--brand-color);
  font-size: 1.2rem;
  text-align: center;
  padding: 0.4rem;
  width: 100%;
  border-radius: 0.5rem;
  line-height: 2rem;
  cursor: pointer;
}

.button-root.button-danger {
  background-color: #d13f3f;
  color: white;
}

.button-root.button-secondary {
  background-color: #fff;
  border: 2px solid var(--brand-color);
}

.button-root.button-icon {
  background: none;
  display: flex;
  align-items: center;
  width: 1.8rem;
}

.button-root.button-text {
  background: none;
  color: var(--text-color);
  display: inline;
  width: auto;
  text-decoration: underline;
}

.button-root.button-icon img {
  width: 100%;
}
