.property-select-list-root {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.property-select-list-root .property-select-list-item {
  width: calc(50% - 1rem);
  margin-bottom: 2rem;
}

@media screen and (min-width: 780px) {
  .property-select-list-root .property-select-list-item {
    width: calc(25% - 1rem);
    margin-bottom: 2rem;
  }
}
